a {
    display: block;
    font-size: 1em;
    padding: .5em;
    margin: .1em;
    color: #fff;
    background-color: rgba(20,20,50, 0.2);
    border: .1em solid #555;
    border-radius: 1em;
    text-decoration: none;
}