:host {
    display: flex;
    justify-content: space-between; /* so prices will align to the right */
}

.check {
    margin-right: 8px;
    color: #888;
}

.productName {
    font-size: 16px;
    width: 70%;
    color: #888;
    padding: 4px;
    text-align: left;
}
.portionName {
    font-size: 16px;
    width: 70%;
    color: #888;
    padding: 4px;
    text-align: left;
}

.price {
    font-size: 16px;
    width: 30%;
    color: #888;
    padding: 4px;
    text-align: right;
}

:host(.done) .check { color: #4f4; }
:host(.done) .price { color: #4f4; }
:host(.done) .productName { color: #fff }
:host(.done) .portionName { color: #bbb }